<!-- Footer -->
<footer class="page-footer font-small rgba-black-strong lighten-2 bottom">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> About us </h5>
            
            <p>
                Agree Consulting IVS
                <br><br>
                Frederik VI's Alle 12, 1 tv
                <br>
                2000 Frederiksberg
                <br><br>
                Tel. +45 21 72 96 96
                <br>
                E-mail. info@agreeconsulting.com
            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Navigation</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
                <li>
                    <a href="/inspiration">Inspiration</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2021 Copyright <strong style="color: white;">Agree Consulting IVS</strong>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->