<!-- Form -->
<form class="text-center" style="color: #757575;">

    <!-- Name - Subject -->
    <div class="row">
        <div class="col-md-12 mb-1 no-margin">
            <input type="text" id="materialContactFormName" class="form-control" mdbInput>
            <label for="materialContactFormName" class="oneline-input">Name</label>
        </div>
        <div class="col-md-12 mb-1 md-form no-margin">
            <input type="text" id="materialContactFormName" class="form-control" mdbInput>
            <label for="materialContactFormName" class="oneline-input">Subject</label>
        </div>
    </div>

    <!-- E-mail -->
    <div class="md-form no-margin">
      <input type="email" id="materialContactFormEmail" class="form-control" mdbInput>
      <label for="materialContactFormEmail">E-mail</label>
    </div>

    <!--Message-->
    <div class="md-form no-margin">
      <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" mdbInput></textarea>
      <label for="materialContactFormMessage">Message</label>
    </div>

    <!-- Send button -->
    

  </form>
  <!-- Form -->
