<section class="hero is-bold is-fullheight"> 
    <div class="hero-body">
        <div class="container has-text-centered"> 
            <h2 class="title">
              My home page!
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vivamus lacus massa, euismod eu tortor ut, venenatis 
                lobortis massa. Aenean nec est vitae tellus interdum 
                feugiat eget eu velit. Phasellus vel justo vitae ipsum 
                iaculis dapibus vitae non elit. Quisque varius ultrices 
                tortor, ac euismod neque rhoncus et. Aenean efficitur 
                in turpis ac scelerisque. Praesent faucibus mauris sit 
                amet libero varius, at imperdiet orci commodo. Proin 
                cursus, tortor quis placerat aliquet, nisl dui tincidunt 
                sem, at commodo ipsum risus in ante. Praesent suscipit 
                lorem convallis ornare aliquet. Aenean consequat aliquet 
                imperdiet.
            </p>
        </div> 
    </div> 
</section>

<div class="wrapper">
    <div class="sliding-background"></div>
</div>
