.nav-top {
    justify-content: center;
}
.hero {
    padding-top: 58px;
    background-size: cover; 
    background-position: center center; 
}
.space {
    margin:40px ;
}
.contact-img {
    background-image: url('/assets/img/business05.jpg'); 
    background-size: cover; 
    background-position: center center; 
}
.custom-input {
    border: none;
    height: 3px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);;
}
.custom-input:focus {
    outline: none;
}
textarea {
    height: 150px;
}