<div class="container nav-top hero is-fullheight">
    <div class="row">
        <div class="contact-img col-sm-6">
        </div>
        <div class="col-sm-6">
          <h3 class="space">Send us an E-mail</h3>
          <!-- Form -->
          <form class="space">

            <!-- Name -->
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Name" name="name" id="name" required />
                <label for="name" class="form__label">Full Name</label>
            </div>

            <!-- Subject -->
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Subject" name="subject" id="subject" required />
                <label for="subject" class="form__label">Subject</label>
            </div>

            <!-- E-mail -->
            <div class="form__group field">
                <input type="email" class="form__field" placeholder="E-mail" name="email" id="email" required />
                <label for="email" class="form__label">E-mail</label>
            </div>

            <!--Message-->
            <div class="form__group field">
                <textarea type="text" class="form__field" placeholder="Your message ... " name="message" id="message"></textarea>
                <label for="message" class="form__label">Subject</label>
            </div>

            <!-- Send button -->
            <button mdbBtn type="button" color="elegant" mdbWavesEffect>
                <span>submit</span>
            </button>

        </form>
        <!-- Form -->
    </div>
    
</div>