<div class="container nav-top hero is-fullheight">
    <div class="row">
        <div class="contact-img col-sm-6">
        </div>
        <div class="col-sm-6">
          <h3 class="space">Send us an E-mail</h3>
          <!-- Form -->
          <form class="space">

            <!-- Name -->
            <div class="md-form no-margin">
                <input type="text" id="inputName" class="form-control" mdbInput>
                <label for="inputName">Name</label>
            </div>

            <!-- Subject -->
            <div class="md-form no-margin">
                <input type="text" id="inputSubject" class="form-control" mdbInput>
                <label for="inputSubject">Subject</label>
            </div>

            <!-- E-mail -->
            <div class="md-form no-margin">
                <input type="email" id="materialContactFormEmail" class="form-control" mdbInput>
                <label for="materialContactFormEmail">E-mail</label>
            </div>

            <!--Message-->
            <div class="md-form no-margin">
                <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" mdbInput></textarea>
                <label for="materialContactFormMessage">Message</label>
            </div>

            <!-- Send button -->
            <button mdbBtn type="button" color="elegant" mdbWavesEffect>
                <span>submit</span>
            </button>

        </form>
        <!-- Form -->
    </div>
    
</div>